<style>

</style>

<nav class="navbar navbar-expand-md navbar-balanced">
    <div class="container-fluid">
        <!-- Normal Sized Logo -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i>
            WanderLust
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Left Nav -->
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>

            <!-- Center Search -->
            <div class="mx-auto">
                <form method="get" action="/listings" class="search-container">
                    <input class="search-input" type="search" placeholder="Search destinations" name="search" />
                    <button class="search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

            <!-- Right Section -->
            <div class="navbar-nav ms-auto d-flex flex-row align-items-center">
                <a class="nav-link host-link" href="/listings/new">Airbnb your home</a>

                <% if (!currentUser) { %>
                    <div class="auth-section">
                        <a class="auth-link" href="/signup"><b>Sign Up</b></a>
                        <a class="auth-link login" href="/login"><b>Log In</b></a>
                    </div>
                    <% } else { %>
                        <a class="auth-link" href="/logout"><b>Log Out</b></a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>